<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cách chọn size</title>
</head>
<body>
    <div class="container" >
        <img th:src="@{/image/size.png}"><br>
        <img th:src="@{/image/size1.png}"><br>
        <img th:src="@{/image/size2.png}"><br>
        <img th:src="@{/image/size3.png}"><br>
        <img th:src="@{/image/size4.png}"><br>
    </div>
</body>
</html>